*{

    margin : 0 ;
    padding: 0;
    font-family: 'Roboto',sans-serif;


}


.header{
   
    background-image: url(images/vijay23.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right:8%;
    box-sizing: border-box;
}

.navbar{
height: 12%;
display: flex;
align-items: center;


}
.logo{
    width: 100px;
    cursor:pointer;
}
.menu-icon{
width:30px;
cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{

    text-decoration: none;
    color: #d0cfcf;
    font-size: 13px;
    

}
.row{
    display: flex;
    height: 88%;
    align-items:self-start;
}
.col{
    flex-basis:1;
}
h1{
    color: #ffffff;
    font-size:  100px;
   
}

p{
    color: rgb(0, 0, 0);
    font-size: 10px;
    line-height: 15px;

}

button{
    width: 180px;
    color: #ffffff;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    background-color: #ff0808;
}
.card{

    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin:10px 15px;
  
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;
   
}
 .card h1{
font-size: 13px;
font-weight: bold;
color: rgb(253, 252, 252);
font-style: italic;

 }
 

 .card1{
      background-image: url(images/leo.jpg);
 }

 .card2{
      background-image: url(images/varisu.jpg);
 }


 .card3{
      background-image: url(images/beast.jpg);
 }

 .card4{
      background-image: url(images/master.jpg);
 }
 .card5{
      background-image: url(images/BIGIL1.jpg);
 }

 .card6{
      background-image: url(images/Sarkar-Poater-3.jpg);
 }
 .card7{
      background-image: url(images/mersal2.jpg);
 }
 .card8{
      background-image: url(images/b.jpg);
 }
 .card9{
      background-image: url(images/theri.jpg);
 }
 .card10{
      background-image: url(images/vijaysarkar.jpg);
 }
 .card11{
      background-image: url(images/vijaysarkar.jpg);
 }

 .card12{
      background-image: url(images/vijay12.png);
 }

 .card:hover{
transform: translate(100px);
 }


