*{
    margin : 0;
    padding : 0;
    font-family: 'Poppins'serif;
    box-sizing: border-box;

}

.container{
    width: 100%;
    height: 100vh;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.music-player{
    background:#e6c3c8 ;
    width: 400px;
    padding:25px 30px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #e5107b;
    box-shadow: 0 5px 10px rgba(256,26,26,0.22);


}
.song-img
{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(207, 28, 28, 0.22);

}

.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}

.music-player p{
    font-size: 14px;
   
    color: #333;
   
}
audio{
    padding-top: 5px;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #d8237e;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0px;

}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #ff0080;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255,26,26,0.22);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     color: #f53192;
     box-shadow: 0 10px 20px rgb(255, 116, 116);
     cursor:pointer;
}

.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
}

a{
    color: #d8237e;
}




.dropdown{
display: none;
position: absolute;
}

.menu_bar ul li:hover .dropdown{
  display: block;
  position: absolute;
  left: 0; 
  top: 100%;
  background-color: #fffdfd;
  width: 95%;

}
.menu_bar ul li:hover .dropdown ul{
  display: block;
  margin: 1px;
    
    


}

.dropdown ul li{
width: 150px;
padding: 15px;

}
