*{
    margin : 0;
    padding : 0;
    font-family: 'Poppins'serif;
    box-sizing: border-box;

}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/vijay23.jpg);
    background-size: cover;
    background-position: center;
    padding :10px 8%;
    position: relative;


}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width :100px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: red;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius :4px;
    margin-left: 4px;
    cursor: pointer;


}
nav h1{
    font-size: 60px;
    color: #ff0606;
    background-color: #000000;
}
.header-content{
    position: absolute;
    top: 100px;
    left:450px ;
    
    text-align: center;
    margin-top: 100px;
     
}
.header-content h1{
font-size: 60px;

line-height: 70px;
font-weight: 600;
max-width: 650px;
}
.header-content h3{
   font-weight: 400;
   margin-bottom: 20px;

}
.share{
    background: white;
    border-radius:4px ;
    display: flex;
    margin-top:30px;
    overflow:  hidden ;

}
 .share input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;

 }
 .share button{
    background: #ff0606;
    border: 0;
    outline: 0;
    color: #fff;
    font:16px;
    cursor: pointer;
    padding: 15px 30px;


 }
.features
{
    padding: 50px 12%;
    font-size: 22px;

}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding:50px 0;


}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;

}
.img-col{
    flex-basis: 50%;
    margin-bottom: 0px;
}
.img-col img{
    display:block;
    width:90%;
    margin:auto;


}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
/*-----------------faq----------------*/
.faq{
    padding: 10px 12%;
text-align: center;
font-size: 18px;
}

.faq h2{
    font-weight: 1000;
    font-size: 40px;


}
.accordion{
    margin: 60px auto;
    width:100%;
    max-width: 750px;

}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;

}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030 ;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
    input[type="radio"]{
        display: none;
    }
    .accordion .content{
        background: #303030;
        text-align: left;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s,padding 0.5s;


    }

    .accordion input[type="radio"]:checked +label + .content{
        max-height: 600px;
        padding:30px 20px;
    }

    .accordion input[type="radio"]:checked +label::after{
        transform: rotate(135deg);
    }
    
    
    .faq small{
        font-size:  13px;
    }
    

    .faq button{
    background: #ff0000;
    border: 0;
    outline: 0;
    color: #fff;
    font:8px;
    cursor: pointer;
    padding: 5px 15px;


 }
 .footer{
    font-size: 80px;
 }

 

 